{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('index') }}" method="POST">

  <div class="form-group">
    <label for="creditor">Creditor:</label>
    <input type="text" class="form-control" id='creditor' placeholder="Enter creditor name" name='lender' value='{{ request.form.get("lender", "") }}'>
  </div>

  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="text" class="form-control" id="amount" placeholder="Enter amount"  name='amount' value='{{ request.form.get("amount", "") }}'>
  </div>

  <div class="form-group">
    <label for="borrower">Borrower:</label>
    <input type="text" class="form-control" id="borrower" placeholder="Enter borrower" name='borrower' value='{{ request.form.get("borrower", "") }}'>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}

{% block checking %}

  {% for result in results %}
    <div class="result">
      block {{ result['block'] }} : {{ result['result'] }}
    </div>
  {% endfor %}

{% endblock %}
